<div class="container table-responsive">
  <h1>get https://jsonplaceholder.typicode.com/posts</h1>
  <table class="table table-sm table-bordered table-hover">
    <thead class="bg-dark text-white">
      <tr style="text-align:center;">
        <th>User Id</th>
        <th>Id</th>
        <th>Title</th>
        <th>Body</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody *ngFor="let post of posts; let i=index">
      <tr>
        <td>{{post.userId}}</td>
        <td>{{post.id}}</td>
        <td>{{post.title}}</td>
        <td [ngStyle]="{'text-align':'justify'}">{{post.body}}</td>
        <td><button (click)="update1(post,i)" type="button" class="btn"><i class="fas fa-edit"></i></button></td>
        <td><button (click)="delete(i)" type="button" class="btn"><i class="fas fa-trash-alt"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">


  <form [formGroup]="data">
    <h2>{{data.value | json}}</h2>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="post" name="post" placeholder="User" formControlName="userId">
      <label for="post">User Id </label>
    </div>


    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="'id" name="id" placeholder="id" formControlName="id">
      <label for="id" class="form-label">Id</label>

    </div>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="title" name="title" placeholder="title" formControlName="title">
      <label for="title" class="form-label">Title</label>
    </div>

    <div class="form-floating mb-3">
      <input tyep="text" class="form-control" id="body" name="body" placeholder="body" formControlName="body">
      <label for="body" class="form-label">Body</label>
    </div>

    <button (click)="add()" type="button" class="btn btn-outline-primary">Add</button>
    <button type="button" class="btn btn-outline-primary">Update</button>
  </form>
</div>

<br>
<br>

<div class="container table-responsive">
  <h2>Params https://jsonplaceholder.typicode.com/posts?userId=1</h2>
  <table class="table table-bordered table-hover">
    <thead class="bg-dark text-white">
      <tr>
        <th>UserId</th>
        <th>Id</th>
        <th>Title</th>
        <th>Body</th>
      </tr>
    </thead>

    <tbody *ngFor="let post1 of posts1">
      <tr>
        <td>{{post1.userId}}</td>
        <td>{{post1.id}}</td>
        <td [ngstyle]="{'text-align':'justify'}">{{post1.title}}</td>
        <td [ngStyle]="{'text-align':'justify'}">{{post1.body}}</td>
      </tr>
    </tbody>
  </table>
</div>

<br>
<br>
<br>

<div class="container">
  <h2>Post Data return https://jsonplaceholder.typicode.com/posts</h2>
  <p>Id {{objPosts?.id}}</p>
  <p>User Id {{objPosts?.userId}}</p>
  <p>Title {{objPosts?.title}}</p>
  <p>Body {{objPosts?.body}} </p>
</div>

<br>
<br>

<div class="container">
  <h2>Put Data https://jsonplaceholder.typicode.com/posts/1</h2>
  <p>Id {{objPuts?.id}}</p>
  <p>User Id {{objPuts?.userId}}</p>
  <p>Title {{objPuts?.title}}</p>
  <p>Body {{objPuts?.body}}</p>
</div>

<br>
<br>

<div class="container">
  <h2>Patch https://jsonplaceholder.typicode.com/posts/1</h2>
  <p>Id {{objPatch?.id}}</p>
  <p>User Id {{objPatch?.userId}}</p>
  <p>Title {{objPatch?.title}}</p>
  <p>Body {{objPuts?.body}}</p>
</div>

<br>
<br>

<div class="container">
  <h2>Delete https://jsonplaceholder.typicode.com/posts/1</h2>
  <p>Message {{message}}</p>
</div>

<br>
<br>

<div class="container">
  <p>User Id{{tablePosts?.userId}}</p>
  <p>Id {{tablePosts?.id}}</p>
  <p>Title {{tablePosts?.title}}</p>
  <p>Body {{tablePosts?.body}}</p>
</div>

<br>
<br>
<br>
<br>
