<div class="container">
  <h1>local json-server http://localhost:5555/products</h1>
  <table class="table table-bordered table-hover">
    <thead class="bg-dark text-white">
      <tr>
        <th>User Id</th>
        <th>Id</th>
        <th>Title</th>
        <th>Body</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody *ngFor="let product of products; let i=index">
      <tr>
        <td>{{product.userId}}</td>
        <td>{{product.id}}</td>
        <td>{{product.title}}</td>
        <td>{{product.body}}</td>
        <td><button (click)="edit1(product,i)" class="btn"><abbr title="edit"><i
                class="fas fa-edit"></i></abbr></button></td>
        <td><button (click)="delete(i)" class="btn"><abbr title="delete"><i
                class="fas fa-trash-alt"></i></abbr></button></td>
      </tr>
    </tbody>
  </table>
</div>

<br>
<br>


<div class="container">
  <h1>Local Server Form</h1>
  <form [formGroup]="form">

    <div class="form-floating mb-3">
      <input type="number" class="form-control" name="user" id="user" placeholder="UserId" formControlName="userId">
      <label for="user">User Id</label>

      <div class="alert" *ngIf="form.controls['userId'].hasError('required') && form.controls['userId'].touched">
        <i class="fas fa-exclamation-triangle"></i> User Id required
      </div>

    </div>

    <div class="form-floating mb-3">
      <input type="number" class="form-control" name="id" id="id" placeholder="id" formControlName="id">
      <label for="id">Id</label>

      <div class="alert" *ngIf="form.controls['id'].hasError('required') && form.controls['id'].touched">
        <i class="fas fa-exclamation-triangle"></i> Id required
      </div>

    </div>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" name="title" id="title" placeholder="title" formControlName="title">
      <label for="title">Title</label>

      <div class="alert" *ngIf="form.controls['title'].hasError('required') && form.controls['title'].touched">
        <i class="fas fa-exclamation-triangle"></i> Title required

      </div>

    </div>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" name="body" id="body" placeholder="body" formControlName="body">
      <label for="body">Body</label>

      <div class="alert" *ngIf="form.controls['body'].hasError('required') && form.controls['body'].touched">
        <i class="fas fa-exclamation-triangle"></i> Body required
      </div>
    </div>

    <div class="d-grid gap-2">
      <button (click)="add()" [disabled]="form.invalid" type="button" class="btn btn-outline-success">Post</button>
      <button (click)="edit2()" type="button" class="btn btn-outline-success">Edit</button>
    </div>
  </form>
</div>

<br>
<br>
<br>
